/* Colors */
@-webkit-keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg); }
  10% {
    transform: translate(-2px, -1px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(0px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(2px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; }
  .login__header {
    text-align: center;
    color: #aab2bd;
    text-transform: uppercase;
    font-weight: 400; }
  .login__wrapper {
    border: 1px solid #e6e6e6;
    padding: 10% 20%;
    background: white; }
  .login__form--empty {
    animation-name: shake;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%; }
  .login__input {
    padding: 8px 15px;
    border: 1px solid #aab2bd;
    width: 100%; }
  .login .fas {
    padding: 8px 15px;
    border-left: 1px solid #aab2bd;
    border-top: 1px solid #aab2bd;
    background: #aab2bd;
    color: #fff; }
  .login__field {
    display: flex;
    align-items: center;
    margin-bottom: 1em; }
  .login__label {
    display: flex;
    align-items: center;
    width: 100%; }
  .login__btn {
    text-transform: uppercase;
    color: #aab2bd;
    font-weight: 600;
    background: #fff;
    border-left: none;
    width: 100px; }
    .login__btn:hover {
      cursor: pointer;
      background: #aab2bd;
      color: #fff; }

.error-message {
  color: #e6492e;
  font-weight: 300; }

.nav {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0.5em 1em;
  background: #fff;
  border-top: 10px solid #f07e26;
  border-bottom: 1px solid #e6e6e6; }
  .nav__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%; }
  .nav__btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #333; }
  .nav__element {
    margin-right: 2em; }
    .nav__element a {
      text-decoration: none;
      color: #333; }
    .nav__element--home {
      display: flex;
      flex-basis: 80%; }
  .nav__link i {
    font-size: 12px;
    margin-right: 0.5em; }
  .nav__link:hover {
    color: #f07e26;
    cursor: pointer;
    transition: color .2s ease-out; }

.loader {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader img {
    width: 100px;
    height: 100px; }

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 6em;
  background: #fff;
  margin-top: 3em;
  border: 1px solid #e6e6e6; }
  .profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh; }
  .profile__row {
    display: flex;
    flex-direction: column;
    width: 400px; }
  .profile__title {
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 0; }
  .profile__header {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0; }
  .profile__data {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300; }
    .profile__data--edit input {
      padding: 8px 15px;
      border: 1px solid #e6e6e6;
      width: 100%;
      font-weight: 300; }
  .profile__icon {
    display: inline-block;
    margin-left: 2em;
    color: #999; }
    .profile__icon:hover {
      cursor: pointer;
      color: #000; }
    .profile__icon--cancel {
      margin-left: 1em; }
  .profile__address {
    display: block;
    width: 300px;
    word-break: break-all; }

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh; }
  .homepage__header {
    text-align: center;
    font-weight: 400;
    font-size: 2.75rem; }
  .homepage__subheader {
    font-size: 2rem;
    margin-top: 0;
    font-weight: 400; }
  .homepage__btn {
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #268729; }
    .homepage__btn:hover {
      cursor: pointer;
      background: #31af35; }

* {
  font-family: 'Roboto', sans-serif; }

body {
  background: #f7f5f3; }
