.nav {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0.5em 1em;
  background: $white;
  border-top: 10px solid $orange;
  border-bottom: 1px solid $grey-border;

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
  }

  &__btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: $text-color;
  }

  &__element {
    margin-right: 2em;

    a {
      text-decoration: none;
      color: $text-color;
    }

    &--home {
      display: flex;
      flex-basis: 80%;
    }
  }

  &__link {
    i {
      font-size: 12px;
      margin-right: 0.5em;
    }

    &:hover {
      color: $orange;
      cursor: pointer;
      transition: color .2s ease-out;
    }
  }
}