.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 6em;
  background: $white;
  margin-top: 3em;
  border: 1px solid $grey-border;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
  }

  &__row {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  &__title {
    font-weight: 400;
    text-transform: uppercase;
    color: $grey-mediumlight;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  &__header {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
  }

  &__data {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;

    &--edit {
      input {
        padding: 8px 15px;
        border: 1px solid $grey-border;
        width: 100%;
        font-weight: 300;
      }
    }
  }

  &__icon {
    display: inline-block;
    margin-left: 2em;
    color: $grey-mediumlight;

    &:hover {
      cursor: pointer;
      color: #000;
    }

    &--cancel {
      margin-left: 1em;
    }
  }

  &__address {
    display: block;
    width: 300px;
    word-break: break-all;
  }
}